<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tonic-MediaShare, written with gin">
    <link rel="stylesheet" href="/assets/w3.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/theme.css">
    <title>{{.title}}</title>
</head>
<body>
<div class="w3-container">
    <p class="w3-display-middle w3-xlarge">Not Authorized</p>
</div>
</body>
</html>