<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tonic-MediaShare, written with gin">
    <link rel="stylesheet" href="/assets/w3.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/theme.css">
    <title>{{.title}}</title>
</head>
<body>
<div class="center-container">
    <div class="w3-card-4">
        <header class="w3-container w3-theme-d1">
            <p class="w3-xlarge">Tonic-MediaShare</p>
        </header>
        <div class="w3-container">
            <p class="w3-medium">OpenSource MediaShare Application written in Go with some Gin</p>
            <p class="w3-medium">Login with Discord Get your Credentials for ShareX to start</p>
        </div>
        <a class="w3-button w3-block w3-dark-grey w3-large" href="{{.discordUrl}}">Discord Login</a>
    </div>
</div>
<a class="w3-display-bottomright w3-small w3-margin" href="https://gin-gonic.com/" style="text-decoration: none">gin-gonic</a>
<a class="w3-display-bottomleft w3-small w3-margin" href="https://www.w3schools.com/w3css/default.asp"
   style="text-decoration: none">w3.css</a>
</body>
</html>